body {
    background-color: #f4f4f4;
    font-family: raleway;
}

header {
    background-color:#f4f4f4;
}

.top {
    background-color: #f4f4f4;
    width: 100%;
    height: auto;
    display: inline-block;
    padding-left: 2%;
}

.top img.logo{
  width: 30%;
  margin: 2%;
  display: inline-block;
}

.top img.logo:hover{
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.5));
  filter: url(#drop-shadow);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

.top img.ohlogo {
  width: 10%;
  display: inline-block;
}

.top img.ohlogo:hover{
  -webkit-filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.5));
  filter: url(#drop-shadow);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

.top .oasishub p{
  display: none;
}


.top img.berlin{
  width: 40%;
  display: inline-block;
  float: right;
  
}

.top h1{
  color: #838584;
  font-family: raleway;
  font-size: 1.6em;
  position: relative;
  width: 50%;
  left: 10%;
  padding-top: 5%;
}

.top input {
  width: 40%;
  border-radius: 15px;
  border: .5px #FFFFFF solid;
  padding: 0.5% 1% 1% 1%;
  position: relative;
  left: 10%;
  z-index: 5;
}

.top input:focus {
  outline: none;
}

/* ===============================  NAVBAR =============================== */

.bg-navbar {
  background-color: #e3701f;
}
.navbar .navbar-toggler {
  display: block;
  float: none;
  margin: 0 auto;
  text-align: center;
}

.navbar-nav .nav-item {
  margin-left: 5px;
}

.navbar-nav .nav-item a{
    color:#f4f4f4;
    font-weight: bold;
    padding-left: 10px;
}

#backOH {
  display: none;
}

.navbar-nav .dropdown-menu {
    background-color: #92cece;
    border: 1px solid #92cece;
    border-radius: 10px;
}

.navbar-nav .dropdown-menu a {
    color: #FFFFFF;
    font-weight: bold;
  
}

.navbar-nav .dropdown-menu a:hover {
    background-color: #e3701f;
    color: #FFFFFF;
}

.navbar-nav .dropdown-menu a:focus {
    background-color: #e3701f;
    color: #FFFFFF;
}
/* ===============================  MAIN  =============================== */
main {
  display: block;
  padding: 3%;
  text-align: justified;
  font-family: raleway;
  background-color: #f4f4f4;
  margin-top: -3%;
}

.introwrapper{
  background-color: #92cece;
  width: 80%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin: 0 auto;
  position: relative;
  left: auto;
  top: -10px;
  border: 5px solid #92cece;
  border-radius: 20px;
}

.introtext {
  width: 90%;
  margin: 0 auto;
}

.introtext h2{
  text-align: center;
  font-size: 1.5em;
}

.introtext p{
  text-align: jutify;
  font-size: .8em;
  }

.d-sm-none{
  display: none;
}

/* ===============================  ENTER CARD CSS BELOW =============================== */
.row {
  margin: 1% 0%;
}
.row h2{
  display: block;
  margin: 0 auto;
  font-weight: bold;
}

.row a:hover {
  text-decoration: none;
}



/* =============== MD CUSTOM CARDS ================= */

.md-custom-card {
  background-color: rgba(118, 108, 107, 1) !important;
  border: none;
	padding: 0;
	overflow: hidden;
	margin: 0 auto;
}

.md-custom-card article {
	padding: 10%;
	position: absolute;
	bottom: 0;
	z-index: 1;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.md-custom-card h3 {
	color: #fff;
	font-weight: 800;
	font-size: 20px;
	border-bottom: #fff solid 1px;
}

.md-custom-card h4 {
	font-weight: 300;
	color: #fff;
	font-size: 16px;
}

.md-custom-card img {
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0.5;
	-webkit-transition: all 4s ease;
	-moz-transition: all 4s ease;
	-o-transition: all 4s ease;
	-ms-transition: all 4s ease;
	transition: all 4s ease;
}

.see-more {
	background-color: #e3701f;
	position: absolute;
	width: 100%;
	height: 70px;
	bottom: 0;
	z-index: 1;
	opacity: 0;
	transform: translate(0px, 70px);
	-webkit-transform: translate(0px, 70px);
	-moz-transform: translate(0px, 70px);
	-o-transform: translate(0px, 70px);
	-ms-transform: translate(0px, 70px);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.see-more span {
	font-size: 40px;
	color: #FFFFFF;
	position: relative;
	margin: 0 auto;
	width: 100%;
	top: 13px;
}


/*hovers*/

.md-custom-card:hover {
	cursor: pointer;
}

.md-custom-card:hover img {
	opacity: 0.1;
	transform: scale(1.5);
}

.md-custom-card:hover article {
	transform: translate(2px, -69px);
	-webkit-transform: translate(2px, -69px);
	-moz-transform: translate(2px, -69px);
	-o-transform: translate(2px, -69px);
	-ms-transform: translate(2px, -69px);
}

.md-custom-card:hover .see-more {
	transform: translate(0px, 0px);
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-o-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	opacity: 1;
}
/* =================================== */

.sm-custom-card {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-top: 0%;
}

.sm-custom-card .card-body {
  min-height: 160px;
}

.buttons .btn {
  background-color: #838584;
}

.lg-custom-card {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.card-img-top{
  width: 100%;
  object-fit: cover;
}

.card-body {
  background-color: #e3701f;
  width: 100%;
}

.card-body h3, .card-body h6, .card-body h3 a {
  color: #FFFFFF;  
}

.card-title {
  overflow: hidden;
  width:100%;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.card-text {
  overflow: hidden;
  width:80%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.buttons {
  position: relative;
  text-align: right;
}

.fa {
  color: #e3701f;
}

/* ===============================  FOOTER =============================== */

footer {
  background-color: #000000;
}
footer .bottom{
  background-color: #000000;
  width: 100%;
  padding-top: 2%; 
}

.bottom h4{
  color: #FFFFFF;
  text-align: center;
  margin: 0 auto;
  font-size: 1em;
}

.bottom img{
  position: relative;
  display: block;
  margin: 0 auto;
  width: 30%;
}

@media screen and (min-width: 768px){
    body {
    background-color: #f4f4f4;
    }

    header{
    background-color:#f4f4f4;
    }

    .top {
    background-color: #f4f4f4;
    width: 100%;
    height: auto;
    display: inline-block;
    padding-left: 2%;
    }

    .top img.logo{
    width: 35%;
    margin: 2%;
    display: inline-block;
    }

    .top img.logo:hover{
    -webkit-filter: drop-shadow(.5px .5px .5px rgba(0,0,0,0.5));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    }

    .top img.ohlogo {
    width: 8%;
    display: inline-block;
    }

    .top img.ohlogo:hover{
      -webkit-filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.5));
      filter: url(#drop-shadow);
      -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
      filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    }

    .top .oasishub p{
      display: none;
    }  
       
    .top img.berlin{
      width: 45%;
      display: inline-block;
      float: right;
      
    }

    .top h1{
      color: #838584;
      font-family: raleway;
      font-size: 2em;
      position: relative;
      width: 40%;
      left: 10%;
      padding-top: 5%;
    }

    .top input {
      width: 40%;
      border-radius: 15px;
      border: .5px #FFFFFF solid;
      padding: 0.5% 1% 1% 1%;
      position: relative;
      left: 10%;
      z-index: 5;
    }

    .top input:focus {
      outline: none;
    }
      
      .nav-item {
        margin-right: 5px;
        margin-left: 0;
    }
	.navbar .navbar-toggler {
  display: none;
}
      
    main {
      padding: 3%;
    }

    .introwrapper{
      width: 70%;
      border: 5px solid #92cece;
      border-radius: 20px;
    }

    .introtext {
      width: 80%;
      margin: 0 auto;
    }

    .introtext h2{
      text-align: center;
      font-size: 1.5em;
    }

    .introtext p{
      text-align: justify;
      font-size: 1em;
      }
 
    /* ===============================  ENTER CARD CSS BELOW =============================== */
    .container .row .container {
      width: 100%;
    }
  
    .sm-custom-card {
      display: inline-block;
      width: 100%;
      margin: 0;
    }
  
  /* =============== MD CUSTOM CARDS ================= */
.md-custom-card {
	padding: 0;
	overflow: hidden;
	max-width: 350px;
	margin: 5px;
}

.md-custom-card article {
	padding: 10%;
	position: absolute;
	bottom: 0;
	z-index: 1;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.md-custom-card h3 {
	color: #fff;
	font-weight: 800;
	font-size: 20px;
	border-bottom: #fff solid 1px;
}

.md-custom-card h4 {
	font-weight: 300;
	color: #fff;
	font-size: 16px;
}

.md-custom-card img {
	width: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	-webkit-transition: all 4s ease;
	-moz-transition: all 4s ease;
	-o-transition: all 4s ease;
	-ms-transition: all 4s ease;
	transition: all 4s ease;
}

.see-more {
	background-color: #e3701f;
	position: absolute;
	width: 100%;
	height: 70px;
	bottom: 0;
	z-index: 1;
	opacity: 0;
	transform: translate(0px, 70px);
	-webkit-transform: translate(0px, 70px);
	-moz-transform: translate(0px, 70px);
	-o-transform: translate(0px, 70px);
	-ms-transform: translate(0px, 70px);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.see-more span {
	font-size: 40px;
	color: #FFFFFF;
	position: relative;
	margin: 0 auto;
	width: 100%;
	top: 13px;
}

/* ====================== */
   
    .carousel .card{
     -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
      -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
      box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
      -webkit-transition: all .20s linear;
      -moz-transition: all .20s linear;
      transition: all .20s linear;
      z-index: 0;
    }

    .carousel .card:hover {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      transform: scale(1.1);
      z-index: 10;
      font-size: 1.2em;
      -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
      -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
      box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    }

    /* smoother transitions */
    .carousel-inner .carousel-item.next.left,
    .carousel-inner .carousel-item.prev.right,{
    transition: all 1s ease;
    }

    /* ===============================  CARD END =============================== */
}
@media screen and (min-width: 992px){
    .top img .logo:hover{
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    }

    .top img.ohlogo {
    width: 8%;
    }

    .top img.ohlogo:hover{
    -webkit-filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.5));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    }

    .top .oasishub p{
    color: #000000;
    text-decoration: none;
    font-family: raleway;
    position: relative;
    display: inline-block;
    width: 15%;
    }  

    .top img.berlin{
    display: inline-block;
    float: right;
    width: 30%;
    }

    .top h1{
    color: #838584;
    font-family: raleway;
    font-size: 3em;
    position: relative;
    width: 40%;
    left: 10%;
    padding-top: 10%;
    }

    .top input {
    width: 28%;
    border-radius: 15px;
    border: .5px #FFFFFF solid;
    padding: 0.5% 1% 1% 1%;
    position: relative;
    left: 10%;
    z-index: 5;
    }

    .top input:focus {
    outline: none;
    }

    .navbar.center .container {
    text-align: center;
    }
    .navbar.center .container .navbar-nav {
    float: none;
    display:inline-block;
    vertical-align: top;  
    }


    .introwrapper{
    background-color: #92cece;
    width: 60%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 0 auto;
    position: relative;
    border: 30px solid #92cece;
    border-radius: 20px;
    }

    .introtext {
    width: 90%;
    margin: 0 auto;
    }

    .introtext p{
    font-size: 1.5em;
    }
  
  .card-deck {
    width: 100%;
  }
    .sm-custom-card {
      display: inline-block;
      width: 100%;
      margin: 0;
    }
  .container .row .container {
      width: 50%;
    }

}
